/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap"); */
/* @font-face {
  font-family: "Cocogoose";
  src: url("Cocogoose.ttf") format("truetype");
} */
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  background: #ffddf4;
  background-repeat: no-repeat;
  font-family: "Montserrat", serif;
  text-align: center;
  color: #ff69b4;
  transition: 0.3s;
  font-size: 1.5rem;
}

h1 {
  color: #ff69b4;
  font-size: 5rem;
  font-family: "Carter One", cursive;
}

.love-between h2 {
  font-size: 13rem;
  margin: -2rem 3rem -1rem 3rem;
}
/* Wrapper Section */

.wrapper {
  height: 100%;
  color: #ff80bf;
  padding: 50px;
}

.input-section {
  display: flex;
  margin: 100px auto 20px auto;
  text-align: center;
  flex-flow: row;
  justify-content: center;
}

label {
  font-weight: 600;
}

.input-section input {
  width: 350px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ff80bf;
  outline: none;
  padding: 20px;
  font-size: 20px;
  justify-content: space-between;
  margin: 10px;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0 10px 23px 10px #00000020;
}

.input-section input:focus {
  width: 450px;
  background-color: #fff;
  color: #ff69b4;
  transition: 0.3s;
  font-weight: 700;
}

.input-section input:valid {
  background-color: #fff;
  color: #ff69b4;
  transition: 0.3s;
  font-weight: 700;
}

button {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ff69b4;
  padding: 15px 30px;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
  transition: 0.3s;
  font-weight: 600;
  box-shadow: 0 10px 23px 10px #00000020;
}
button:hover {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ff69b4;
}

.result {
  width: 50%;
  margin: 100px auto;
}

.result h1 {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}
.divider {
  width: 200px;
  height: 2px;
  background-color: #fff;
  text-align: center;
  margin: 10px auto;
}

#loveinfo {
  line-height: 1.5;
}
/* End of wrapper section */

/* Responsive Codes */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }
  .wrapper {
    padding: 50px 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .input-section {
    margin: 50px auto 20px auto;
    display: grid;
  }
  .input-section input {
    margin: 20px 0;
    width: 90%;
    height: 30px;
  }

  .input-section input:focus {
    width: 100%;
  }

  button {
    font-size: 16px;
    padding: 15px 5%;
  }

  .result {
    width: 90%;
    margin: 100px auto;
  }

  .divider {
    width: 30%;
  }

  #score {
    font-size: 2rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .wrapper {
    padding: 50px 10px;
  }
  h1 {
    font-size: 2rem;
  }

  .input-section {
    margin: 50px auto 20px auto;
    display: grid;
  }
  .input-section input {
    margin: 20px 0;
    height: 30px;
  }

  button {
    font-size: 16px;
    padding: 15px 5%;
  }

  .result {
    width: 90%;
    margin: 100px auto;
  }

  .divider {
    width: 30%;
  }

  #score {
    font-size: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper {
    padding: 50px 10px;
  }
  h1 {
    font-size: 3rem;
  }

  .input-section {
    display: flex;
  }
  .input-section input {
    width: 300px;
    margin: 20px;
  }

  .input-section input:focus {
    width: 350px;
  }

  button {
    padding: 15px 5%;
  }

  .result {
    width: 90%;
    margin: 100px auto;
  }

  .divider {
    width: 30%;
  }

  #score {
    font-size: 2rem;
  }
}
